<landing-page--footer>
    <footer id="theme-footer">
        <div class="row">
            <div class="footer-top">
                <div class="container">
                    <div class="col-sm-6 col-lg-6 ">
                        <div>
                            <span style="display:block; font-weight: 600;">DASHBOARD</span>
                            <nav id="footer-nav" class="navbar">
                                <div class="footer-menu-wrap">
                                    <div class="collapse navbar-collapse" id="footer-menu">
                                        <ul class="nav navbar-nav">
                                             <li data-tab="about"><a href="https://flashcoin.io/terms-of-service.html" target="_blank">Terms of Service</a></li>
                                            <li data-tab="term"><a href="https://flashcoin.io/privacy-policy.html" target="_blank">Privacy Policy</a></li>
                                            <li data-tab="policy"><a href="https://flashcoin.io/support.html" target="_blank">Support</a></li>
                                            <li data-tab="legal"><a href="https://flashcoin.io/contact.html" target="_blank">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-3"></div>
                    <div class="col-sm-3 col-lg-3">
                        <div class="footer-logo">
                            <a href="#" class="footer-logo-img">
                                <img src="assets/img/logo.png" title="Safe Cash" alt="Safe Cash" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="footer-copy-right">
                <div class="container">
                    <div id="copy-right">
                        <span style="display:block; color: #a0b4c3;margin-left: 15px;">Copyright (c) 2016 Flashnet Tech, Inc. Montreal, Canada. All Rights Reserved. Flash is a trademark of Flashnet Tech, Inc.</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</landing-page--footer>