<landing-page--header>
    <header id="theme-header" class="navbar navbar-default" style="border-radius: 0px;">
        <div class="container">
            <div class="col-sm-3 col-lg-3">
                <div id="logo">
                    <a href="" class="logo-img">
                        <img src="assets/img/logo.png" title="Safe Cash" alt="Safe Cash" />
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 navbar-right"></div>
        </div>
    </header>
</landing-page--header>