<home-page--body>
    <div class="tm-middle">
        <div class="uk-container uk-container-center">
            <div class="uk-grid uk-grid-collapse" data-uk-grid-margin="">
                <div class="uk-width-1-4">
                    <main-sidebar/>
                </div>
                <div class="tm-main uk-width-3-4">
                    <main-view/>
                </div>
            </div>
        </div>
    </div>

    <style>
        .tm-middle {
            background: #fff;
        }
        
        @media (min-width: 1220px) .tm-middle,
        .tm-section,
        .tm-footer {
            padding: 120px 0;
        }
        
        @media (min-width: 768px) .tm-middle,
        .tm-section,
        .tm-footer {
            padding: 90px 0;
        }
        
        .tm-middle,
        .tm-section,
        .tm-footer {
            padding: 50px 0;
        }
    </style>
</home-page--body>